body {
  font-family: 'Source Sans Pro', sans-serif;
}
.product-container {
  padding: 4% 12%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}